<%!
    import json
%>
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="//code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.css" />
        <script src="//code.jquery.com/jquery-1.8.2.js"></script>
        <script type="text/javascript">
            $(document).bind("mobileinit", function() { $.mobile.ajaxEnabled = false; });
        </script>
        <script src="//code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.js"></script>
        <script src="js/utility.js"></script>
        <script src="js/moment.min.js"></script>
        <script type="text/javascript">
            var namelist = ${json.dumps(namelist)};
            var attdata = ${json.dumps(attdata)};
            var cursheet = '${cursheet}';
            var curdate = '${curdate}';
            var nameindex = 0;
            var curname;

            $(document).ready(function(evt){
                //Format the other box
                $('label[for=att_other]').removeClass('ui-corner-right');
                $('#other_text').removeClass('ui-corner-all').addClass('ui-corner-right');

                $('#section_sel').change(function() {
                    $.mobile.loading('show',{text:'Loading Dates'});
                    $.ajax({
                        url: '/att',
                        dataType: 'json',
                        type: 'get',
                        data: $(this).closest('form').serialize(),
                        success: function(data) {
                            cursheet = data.cursheet;
                            if(data.dates) {
                                $('#date_sel option').remove();
                                today = moment();
                                leastdiff = null;
                                leastday = null;
                                $.each(data.dates, function(col, curdate) {
                                    curmoment = moment(curdate,'M/D');
                                    guessyear = today.year();
                                    if(Math.abs(curmoment.month() - today.month()) > 6) {
                                        guessyear++;
                                    }
                                    curmoment.year(guessyear);
                                    daydiff = Math.abs(curmoment.diff(today,'days'));
                                    if(daydiff < leastdiff || leastdiff == null) { 
                                        leastdiff = daydiff; leastday = col; 
                                    }

                                    $('#date_sel').append(
                                       $('<option></option>').attr('value',col).text(curdate)
                                    );
                                });
                                if(leastday) {
                                    $('#date_sel option[value=' + leastday + ']').attr('selected','selected');
                                }
                                $('#date_sel').prepend('<option value="">Select a Date</option').selectmenu('refresh');
                            }
                            $.mobile.loading('hide');
                            if($('#date_sel').val()) {
                                $('#date_sel').change();
                            }
                        }
                    });
                });
                $('#date_sel').change(function() {
                    $.mobile.loading('show',{text:'Loading Section'});
                    $.ajax({
                        url: '/att',
                        dataType: 'json',
                        type: 'get',
                        data: $(this).closest('form').serialize(),
                        success: function(data) {
                            namelist = data.namelist;
                            attdata = data.attdata;
                            cursheet = data.cursheet;
                            curdate = data.curdate; 

                            updateName(0);
                            if(!isVisible(0)) { stepName(); }
                            $.mobile.loading('hide');
                        }
                    });
                })
                $('#sec_date_sel').submit(function() {
                    if($(this).find('#selection_sel').val() == "") {
                        return false;
                    }
                })
                
                $('#btn_prev').click(function() { stepName(-1); });
                $('#btn_next').click(function() { stepName(1); });

                $('input[name=attendance]').click(function() { updateRecord(true); });
                $('#att_save').click(function() { updateRecord(true); });
                $('#other_text').keyup(function(evt) {
                    if(evt.which == 13) {
                        updateRecord(true);
                        return false;
                    }
                });
            });

            var valid_stats = ['P','X','XC','LA','LE','NI','SA'];
            var exclude_statuses = ['LOA','Inactive']; 

            function updateRecord(auto_step) {
                disp_val = $('input[name=attendance]:checked').val();
                att_val = disp_val;
                if(disp_val == 'LE' || disp_val == 'LA') {
                    //Special handling for time
                    time_val = $('#disp_lateness').val();
                    if(time_val > 0) {
                        att_val = disp_val + '-' + time_val;
                    }
                    disp_val = att_val;
                    //If we're dealing with these guys, don't auto-advance
                    auto_step = false;
                } else if(disp_val == 'blank') {
                    att_val = '';
                } else if(disp_val == 'other') {
                    att_val = $('#other_text').val();
                    disp_val = att_val;
                }
                statustext = 'Marking ' + curname.first + ' as ' + disp_val + '...';
                
                $('#ajax_status').text(statustext).removeClass('error warning').animate({opacity:1});
                $.post('/att/update',{
                    'row':curname.row,
                    'col':curdate,
                    'wkey':cursheet,
                    'value':att_val
                },function(data) {
                    if(data.status==200) {
                        if(data.value == att_val) {
                        $('#ajax_status').text(statustext + 'saved.').delay(500).animate({opacity:0}); 
                            attdata[data.row] = data.value;
                            if(auto_step) {
                                stepName(1);
                            }
                        } else {
                            $('#ajax_status').text(statustext + 'check spreadsheet.').addClass('warning').delay(500).animate({opacity:0}); 
                            attdata[data.row] = data.value;
                        }
                   } else {
                       $('#ajax_status').text('Marking as ' + disp_val + '...failed!').addClass('error'); 
                   }
                });
            }

            function stepName(step) {
                if(!step) { step = 1; }
                okay = false;
                newindex = nameindex;
                numloops = 0;
                maxloops = namelist.length/Math.floor(Math.abs(step))
                while(numloops <= maxloops) {
                    //Loop around on the edges
                    newindex = (newindex + step) % namelist.length;
                    if(newindex < 0) { newindex += namelist.length; }

                    if(isVisible(newindex)) {
                        updateName(newindex);
                        return true;
                    }
                    numloops++;
                }
                return false;
            }

            function isVisible(checkindex) {
                checkname = namelist[checkindex];
                if(!checkname) { return false; }
                //Exclude any "bad" statuses
                if($.inArray(checkname.status_holiday, exclude_statuses) > -1) {
                    return false;
                }
                return true;
            }

            function updateName(newindex) {
                if(namelist && namelist.length) {
                    $('#attendance_record').show()
                    $('#no_records').hide()
                } else {
                    $('#attendance_record').hide()
                    $('#no_records').show()
                    return false;
                }

                nameindex = newindex;
                curname = namelist[nameindex];
                curatt = attdata[curname.row];
                if(!curname) { curname = "Name Not Found"; }
                if(!curatt) { curatt = ""; }

                $('#other_text').val('');
                $('#display_name').text(curname.first + " " + curname.last);
                $('#att_lateness option:first').attr('selected','selected');
                attarr = curatt.split('-');
                attstat = attarr[0];
                if(attarr.length == 2 && (attstat == 'LA' || attstat == 'LE')) { 
                    attlen = attarr[1]; 
                    linkedelm = $('#att_lateness option[value=' + attlen + ']');
                    if(linkedelm.length) {
                        linkedelm.attr('selected','selected');
                    }
                }
                if($.inArray(attstat, valid_stats) != -1) {
                    $('#att_' + attstat).attr('checked','checked');
                } else {
                    if(attstat == '') {
                        $('#att_blank').attr('checked','checked');
                    } else {
                        $('#att_other').attr('checked','checked');
                        $('#other_text').val(attstat);
                    }
                }
                $('#attendance_record input[type=radio]').checkboxradio('refresh');
                $('#att_lateness').selectmenu('refresh');
            }
        </script>
        <style>
            #display_name { margin-bottom: 0; }
            #ajax_status { 
                margin-bottom: 1em; 
                font-size: 80%;
                color: green;
            }
            #ajax_status.error { color: red; }
            #ajax_status.warning { color: goldenrod; }

            #other_text {
                width: 100px;
                line-height: 1.7;
                margin: 0px;
            }
        </style>
    </head>
    <body>
        <div data-role="page" id="page_attendance">
            <div data-role="header" data-position="fixed">
                <h1>${worksheets[cursheet] if cursheet else ''}</h1>
                <a href="" id="btn_prev" data-role="button" data-icon="arrow-l" data-iconpos="notext">Prev</a>
                <a href="" id="btn_next" data-role="button" data-icon="arrow-r" data-iconpos="notext">Next</a>
            </div>
            <form id="sec_date_sel" method="GET">
                <fieldset data-role="controlgroup" data-type="horizontal">
                    <select id="section_sel" name="wkey">
                        <option value="">Select a Section</option>
                        % for key in worksheets.iterkeys():
                        <option value="${key}" ${'selected="selected"' if key == cursheet else '' | n}>${worksheets[key]}</option>
                        % endfor
                    </select>
                    <select id="date_sel" name="date">
                        <option value="">Select a Date</option>
                        % for col in sorted(dates.iterkeys()):
                        <option value="${col}"${'selected="selected"' if col == curdate else '' | n}>${dates[col]}</option>
                        % endfor
                    </select>
                </fieldset>
            </form>
            <div id="no_records">
                <h1>Select a section and date above</h1>
            </div>
            <div id="attendance_record" style="text-align: center; display: none;">
                <h1 id="display_name"></h1>
                <div id="ajax_status">&nbsp;</div>
                <fieldset>
                    <div data-role="controlgroup" data-type="horizontal">
                        <input type="radio" name="attendance" id="att_P" value="P"/>
                        <label for="att_P">Present</label>
                    </div>
                    <div data-role="controlgroup" data-type="horizontal">
                        <input type="radio" id="att_LA" name="attendance" value="LA"/>
                        <label for="att_LA">LA</label>
                        <input type="radio" id="att_LE" name="attendance" value="LE"/>
                        <label for="att_LE">LE</label>
                        <select id="att_lateness" name="att_lateness">
                            <option value="0">N/S</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                            <option value="60">60</option>
                            <!--<option value="other">Other</option>-->
                        </select>
                    </div>
                    <div data-role="controlgroup" data-type="horizontal">
                        <input type="radio" name="attendance" id="att_X" value="X"/>
                        <label for="att_X">X</label>
                        <input type="radio" name="attendance" id="att_XC" value="XC"/>
                        <label for="att_XC">XC</label>
                    </div>
                    <div data-role="controlgroup" data-type="horizontal">
                        <input type="radio" name="attendance" id="att_SA" value="SA"/>
                        <label for="att_SA">SA</label>
                        <input type="radio" name="attendance" id="att_NI" value="NI"/>
                        <label for="att_NI">NI</label>
                        <input type="radio" name="attendance" id="att_blank" value="blank"/>
                        <label for="att_blank">(B)</label>
                    </div>
                    <div data-role="controlgroup" data-type="horizontal">
                        <input type="radio" name="attendance" id="att_other" value="other"/>
                        <label for="att_other">Other</label>
                        <input type="text" name="other_text" id="other_text"/>
                    </div>
                </fieldset>
                <button id="att_save">Save</button>
            </div>
        </div>
    </body>
</html>
